@include media-breakpoint-up($nav-breakpoint-up){
	.main-nav-mobile{
		display: none;
	}
	.main-nav-left, .main-nav-right{
		width: calc( (100% - #{$header-logo-width-lg} - 2rem ) / 2 );
	}
	.main-nav-left .collapse{
		justify-content: flex-end;
	}
	.main-nav-right .collapse{
		justify-content: flex-start;
	}
}

@include media-breakpoint-down($nav-breakpoint-down){
	.main-nav-left, .main-nav-right{
		display: none;
	}
}