hr.lg{
	margin-top: $hr-margin-y * 3;
	margin-bottom: $hr-margin-y * 3;
}

ul, ol{
	padding-left: 0;
	margin: 0;
	padding-left: 20px;
}

.top-banner{
	position: relative;
	img{
		width: 100%;
		object-fit: cover;
	}
	.gallery{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
		>div{
			width: 100%;
			height: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.overlay{
		position: relative;
		display: flex;
		justify-content: flex-end;

		>div{
			width: 100%;
			max-width: 350px;
			min-height: 350px;
			//padding: 50px;
			//background-color: rgba(255 ,255 ,255 , .5);
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;

			>div{
				background-color: rgba(255,255,255, .5);
				padding: 20px;
				margin-bottom: 20px;
			}
		}
		
		/*>div{
			@extend .container;
			background-color: rgba(255 ,255 ,255 , .7);
			padding: 50px 50px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}*/
	}
}
.home-top-banner {
	.overlay {
		>div {
			max-width: 	500px !important;
			>div {
				background-color: rgba(255,255,255, 0) !important;
				padding: initial;
				margin-bottom: initial; 
			}
		}
	}
}

.home{
	.gallery{
		position: relative;
		>div{
			width: 100%;
			img{
				width: 100%;
				height: 300px;
				object-fit: cover;

				@include media-breakpoint-up(md){
					height: 500px;
				}
			}
		}
	}
	.overlay{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
		>div{
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.collapse{
	.accordion{
		display: flex;
		flex-wrap: wrap;
		.card-header{
			padding: 0;
			background-color: transparent;
			position: relative;
			border: 0 !important;
			&::after{
				content: "\f078";
				font-family: "Font Awesome 5 Free"; 
				font-weight: 900;
				position: absolute;
			    right: 0;
			    top: 50%;
			    transform: translateY(-50%);
			    font-size: 15px;
			    color: #ababab;
			    pointer-events: none
			}
			.btn-link{
				padding-left: 0;
				padding-right: 0;
				width: 100%;
				text-align: left;
				color: theme-color('dark');
				text-transform: uppercase;
			}
		}
		.card{
			width: 100%;
			padding: 10px 30px;
			box-sizing: border-box;
			border: 0;

			@include media-breakpoint-up(md){
				width: 50%;
			}
		}
		.card-body{
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.hr-table{
	tr.hr{
		td{	
			position: relative;
			&::after{
				content: '';
				@extend hr;
				display: block;
				position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			}
		}
	}	
	tr{
		td{
			border-top: 0;
			h3{
				@extend .h5;
				margin-bottom: 0;
				font-weight: bold;
			}
		}
	}
}

.container-xs{
	>div{
		max-width: 800px;
		margin: auto;
	}
}


.flexible-content.py-5, .flexible-content.py-4 {
	>div {
		@include media-breakpoint-down(md) {
			padding-top: 1rem !important;
			padding-bottom: 1rem !important;
		}
	}
}

.flexible-content.pt-5, .flexible-content.pt-4 {
	>div {
		@include media-breakpoint-down(md) {
			padding-top: 1rem !important;
		}
	}
}

.flexible-content.pb-5, .flexible-content.pb-4 {
	>div {
		@include media-breakpoint-down(md) {
			padding-bottom: 1rem !important;
		}
	}
}


.flexible-content {
	@include media-breakpoint-down(md) {
		>div.py-5, >div.py-4 {
			padding-top: 1rem !important;
			padding-bottom: 1rem !important;
		}
		>div.pt-5, >div.pt-4 {
			padding-top: 1rem !important;
		}
		>div.pb-5, >div.pb-4 {
			padding-bottom: 1rem !important;
		}
		>div.my-5, div>.my-4 {
			margin-top: 1rem !important;
			margin-bottom: 1rem !important;
		}
		>div.mt-5, >div.mt-4 {
			margin-top: 1rem !important;
		}
		>div.mb-5, >div.mb-4 {
			margin-bottom: 1rem !important;
		}
	}
}

.flexible-content {	
	.flexible_2_column_grid{
		.text-editor{
			@extend .px-md-5;
			@extend .px-3;
			@extend .py-5;
			@extend .py-md-0;
		}
	}
}

.left-additional-padding {
	@include media-breakpoint-up(md) {
		>div {
			>div {
				padding-left: 15%;
			}
		}
	}
}

.right-additional-padding {
	@include media-breakpoint-up(md) {
		>div {
			>div {
				padding-right: 15%;
			}
		}
	}
}

.font-number{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.lg-scroll-to-top{
	background-color: theme-color('primary');
	border-radius: 0;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blog-category{
	.row{
		>div{
			@extend .my-3;
			>div{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				border: 1px solid theme-color('primary');
				border-top: 0;
			}
		}
	}
	.image{
		position: relative;
		img{
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
		.date{
			position: absolute;
			left: 0;
			top: 0;
			padding: 5px 20px;
			background-color: theme-color('primary');
			color: #fff;
			text-align: center;
			text-transform: lowercase;
		}
	}
	.description{
		@extend .px-3;
		@extend .py-4;
	}
	.link{
		@extend .px-3;
		@extend .py-4;
	}
}

.blog {
	.arrow-link {
		color: 	theme-color('primary') !important;
		&:hover {
			color: 	darken(	theme-color('primary'), 20%) !important;
		}
		svg {
			g {
				stroke: theme-color('primary') !important;
			}
		}
	}
}

.contact-us{
	.flexible_2_column_grid {
		>div:nth-child(2) {
			@include media-breakpoint-down(sm) {
				order: 	1;
			}
		}
	}
	.text-editor{
		img{
			max-width: 200px;
			height: auto;
		}
	}
}

.faq{
	h3{
		border-top: 1px solid theme-color('dark');
		padding-top: 15px;
		font-style: italic;
		@extend .h4;
	}
}

@include media-breakpoint-down(sm){
	.home{
		.k-feature-item{
			height: 400px !important;
			img, .top-banner, .top-banner .gallery, .top-banner .gallery >div{
				height: 100%;
			}
		}
	}
}

.newsletter-form_wrapper {
	display: flex;
	justify-content: center;

	.newsletter-form {
		display:flex;
		justify-content: center;
		align-items: baseline;

		@include media-breakpoint-down(sm){
			flex-direction: column;
		}

		div {
			ul {
				display: flex !important;
				@include media-breakpoint-down(sm){
					flex-direction: column;
				}
				input {
					width: 100% !important;
				}
				li.gfield_error {
					padding-right: 16px !important;
					padding-top: 0px;
					padding-bottom: 0px;
					margin-top: 11px !important;
					input {
						padding-bottom: 7px !important;
					}
				}
			}
		}
		.gform_footer {
			width:auto;
			display: flex;
		}

		.validation_error { /* or `:nth-child(n + 4)` */
  			display: none;
		}
	}
}

.two-column-bullet-list {
	>div {
		@include media-breakpoint-down(sm) {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
	}
	.flexible_2_column_grid {
		>div:first-child {
			>div {
				padding-bottom: 0px !important;
			}	
		}
		>div:nth-child(2) {
			>div {
				padding-top: 0px !important;
			}
		}
	}
}



$border-styles: (
	solid:   solid,
	dotted:  dotted,
	dashed:  dashed,
	double:  double,
	groove:  groove,
	ridge:   ridge,
	inset:   inset,
	outset:  outset

);

$border-widths: (
	1: 1px,
	2: 2px,
	3: 3px,
	4: 4px,
	5: 5px,
	6: 6px

);

@each $name, $value in $border-styles {
	.border-#{$name} {
		border-style: $value;
	}
}

@each $name, $value in $border-widths {
	.border-#{$name} {
		border-width: $value;
	}
}

