#site-footer{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	#site-footer-main{
		>div{
			display: flex;
			
			@include media-breakpoint-down(sm){
				flex-direction: column;
			}
			>div{
				padding: 40px 50px;
				.widget{
					margin-bottom: 0;
				}
			}
			.site-footer-alpha{
				width: 350px;
				background-color: #231F20;

				@include media-breakpoint-down(sm){
					width: 100%;
				}

				.textwidget{
					p{
						text-align: center;
					}
					a{
						color: #fff;
						&:hover {
							color: theme-color('primary');
						}
					}
					img{
						width: 130px;
						margin-bottom: 20px;
					}
				}
			}
			.site-footer-bravo{
				width: calc( 100% - 700px );
				ul{
					padding: 0;
					margin: 0;
					display: flex;
					flex-wrap: wrap;
					list-style: none;
					li{
						margin-right: 20px;
						a{
							color: #fff;
							font-size: 19px;
							&:hover {
								color: theme-color('light');
							}
						}
					}
				}
				@include media-breakpoint-down(md){
					display: none;
				}
			}
			.site-footer-charlie{
				width: 350px;
				max-width: 	100%;
				@include media-breakpoint-down(sm){
					margin: auto;
				}

				.gform_wrapper{
					.gform_footer{
						margin-top: 0;
						padding-bottom: 0;
						input{
							margin-bottom: 0;
						}
					}
					.gform_fields{
						li{
							margin-top: 5px !important;
						}
					}
				}
			}
		}
	}
}