#site-header {
    .header-main {
        >div {
            @extend .container;

            .nav-link {
                &:hover {
                    color: theme-color('primary');
                }
            }
        }
    }
}

@include media-breakpoint-up($nav-breakpoint-up) {
    #site-header {
        .header-main {
            >div {
                justify-content: center !important;
            }

            .site-branding {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
        }
    }

    .header-cta {
        position: absolute;
        right: 15px;
    }
}

@include media-breakpoint-down($nav-breakpoint-down) {
    #site-header {
        .header-main {
            >div {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .header-cta {
        display: none;
    }
}

#contact-us-banner {
    .overlay {
        @include media-breakpoint-down(sm) {
            justify-content: center;
            >div {
                justify-content: center;
            }
        }
    }
}