.team-member {

	.team-image {
		width: 100%;
		max-width: 300px;
		a {
			overflow: hidden;
			display: flex;
			justify-content: center;
    		align-items: center;
    		max-width: 100%;
			img {
				width: 100%;
				
				transition: all 0.4s;
				&:hover {
					transform: scale(1.05);
				}
			}

		} 
	}
	.team-name {
		font-weight:600;
		@extend .mb-1;
	}
	.team-title {
		font-style: italic;
		font-size:.9rem;
	}
	.team-content{
		@extend .py-3;
	}
	.team-description{
		@extend .mt-2;
	}

	&.management{
		flex-wrap: wrap;

		>div{
			@extend .py-3;
			@extend .px-0;
			@extend .px-md-3;
		}
		.team-image{
			max-width: 400px;
			@include media-breakpoint-up(md){
				width: 400px;
			}

			a{
				overflow: 	hidden;
				justify-content: left;
				img{
					width: 100%;
					max-width: initial;
				}
			}
		}
		.team-content{
			@include media-breakpoint-up(md){
				width: calc(100% - 400px);
			}
		}
	}
}

