//Utility Bar

$utility-bar-background-color:				theme-color('primary');
$utility-bar-color:							theme-color('white');
$utility-bar-padding:						$spacer * .5 0;

$utility-bar-icon-color:					theme-color('secondary');
$utility-bar-icon-size:						13px;

/* Header */

$header-background-color:					#fff;
$header-box-shadow:							0 2px 6px #e7e7e7;

$header-logo-width: 						120px;
$header-logo-width-sm: 						120px;
$header-logo-width-md: 						120px;
$header-logo-width-lg:						150px;

$mobile-toggle-size: 						25px;
$header-padding:							25px 0;

$nav-breakpoint-up:							'lg';
$nav-breakpoint-down:						'md';

@include media-breakpoint-up(lg){
	#site-header .header-main .site-branding .logo{
		width: $header-logo-width-lg !important;
	}
}